:root{
    --green:aquamarine;
}
.y{
    background-color: var(--green);
}

.bg-primary{
    background-color: aquamarine !important;
    font-size: 9px;
}

.nav-item{
    border-bottom: 0.5px solid black;
}

.nav-link{
    border-radius: 16px;
}

.nav-link:hover{
    transition: 0.5s;
    color: white !important;
    background-color: aqua;
}

@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}
    

    