:root{
    --green:aquamarine;
}
.y{
    background-color: var(--green);
}

.bg-primary{
    background-color: aquamarine !important;
    font-size: 9px;
}

.nav-item{
    border-bottom: 0.5px solid black;
}

.nav-link{
    border-radius: 16px;
}

.nav-link:hover{
    transition: 0.5s;
    color: white !important;
    background-color: aqua;
}

#header{
    background: url(../src/fondo\ nevado.png) top/cover no-repeat;
}

.btn:not(.nav-btns button){
    background-color: black;
    color: white;
    border: 2px solid gray;
    transition: 0.5s;
    padding: 10px 28px;
    border-radius: 25px;
}

.btn:not(.nav-btns button):hover{
    background-color: rgb(167, 75, 75);
    color: white;
    border-color: 2px solid gray;
    transition: 0.5s;
} 

@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
}
    

    